@model IEnumerable<JediApp.Database.Domain.Currency>

@{
    ViewData["Title"] = "Exchange Office Board";
}

<h2>Exchange Office Board</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
    
    <form asp-action="AddCurrencyFromNbpApi">
        <input type="button" value="Create New Currency" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "ExchangeOfficeBoard" )'" />
        <input type="submit" value="Add Currency From Nbp Api" class="btn btn-danger" />
    </form>
        <form asp-action="Markup">
        <input type="submit" value="Add 5% Markup to the all Currencies" class="btn btn-info" />
    </form>
</p>

<div class=" pb-3">

    <table class="table table-bordered">
        <thead>
            <tr>
                @*<th>ID</th>*@
                <th>Name</th>
                <th>ShortName</th>
                <th>Country</th>
                <th>BuyAt</th>
                <th>SellAt</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>@item.Id</td>*@
                    <td>@item.Name</td>
                    <td>@item.ShortName</td>
                    <td>@item.Country</td>
                    <td>@item.BuyAt</td>
                    <td>@item.SellAt</td>
                    <td>
                        @*<a asp-controller="ExchangeOfficeBoard" asp-action="Edit" asp-route-id="@item.Id" asp-route-someName="some value">Edit</a>*@
                        @*              <a asp-controller="ExchangeOfficeBoard" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-controller="ExchangeOfficeBoard" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-controller="ExchangeOfficeBoard" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                        <input type="button" value="Edit" class="btn btn-warning align-text-bottom " onclick="location.href='@Url.Action("Edit", "ExchangeOfficeBoard", new { Id = item.Id } )'" />
                        <input type="button" value="Details" class="btn btn-info align-text-bottom" onclick="location.href='@Url.Action("Details", "ExchangeOfficeBoard",new { Id = item.Id } )'" />
                        <input type="button" value="Delete" class="btn btn-danger align-text-bottom" onclick="location.href='@Url.Action("Delete", "ExchangeOfficeBoard",new { Id = item.Id } )'" />
                    </td>
                    @*            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
                </tr>
            }
        </tbody>
    </table>

</div>





