@model IEnumerable<JediApp.Database.Domain.Currency>

@{
    ViewData["Title"] = "Exchange Office Board";
}

<h2>Exchange Office Board</h2>

<div class=" pb-3">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Short Name</th>
                <th>Country</th>
                <th>Buy At</th>
                <th>Sell At</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ShortName</td>
                    <td>@item.Country</td>
                    <td>@item.BuyAt</td>
                    <td>@item.SellAt</td>
                    <td>
                        <input type="button" value="Details / Chart" class="btn btn-info align-text-bottom" onclick="location.href='@Url.Action("Details", "UserExchangeOfficeBoard",new { Id = item.Id } )'" />
                        <input type="button" value="Buy" class="btn btn-info align-text-bottom" onclick="location.href='@Url.Action("Buy", "ExchangeOfficeBoard",new { Id = item.Id } )'" />
                        <input type="button" value="Sell" class="btn btn-info align-text-bottom" onclick="location.href='@Url.Action("Sell", "ExchangeOfficeBoard",new { Id = item.Id } )'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>





