@model IEnumerable<JediApp.Database.Domain.User>


@{
    ViewData["Title"] = "Index";
}


<div style="text-align: center">
    
    <h1>Register Succes!!!</h1>

</div>

@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Id"></label>
            </th>
            <th>
                <label asp-for="First().Login"></label>
            </th>
            <th>
                <label asp-for="First().Password"></label>
            </th>
            <th>
                <label asp-for="First().Role"></label>
            </th>
            <th>
                <label asp-for="First().Wallet"></label>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Login
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.Role
            </td>
            <td>
                @item.Wallet
            </td>
           <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@